html {
  height: 100%;
  background-color: rgb(19, 19, 32);
}

.header {
  font-size: 20px;
  color: rgb(250, 65, 59);
}

.header:hover {
  color: rgb(241, 106, 91);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.components-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-top: 20px;
}

.video-container {
  margin-right: 280px;
  margin-top: 20px;
  display: block;
  border-radius: 15px;
  width: 100%;
  height: 90%;
  object-fit: cover;
  transition: transform 0.3s;
}

.emotion-ring {
  flex: 1;
  height: 100%;
  transition: transform 0.3s;
}

@media screen and (max-width: 768px) {
  .video-container {
    width: 100%;
    height: 50%;
  }

  .emotion-ring {
    height: 50%;
  }
}

.bounding-box {
  position: absolute;
  top: 200px;
  left: 30px;
  width: 100%;
  height: 100%;
}